<header>
  <nav class="navbar navbar-expand-lg bg-light px-4 py-3 shadow-sm">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    
    <!-- Logo à gauche -->
    <div class="navbar-brand fw-bold">Mon Portfolio - Van den Brande Niels</div>
    
    <!-- Liens à droite -->
    <ul class="navbar-nav ms-auto d-flex flex-row gap-3">
      <li class="nav-item">
        <a class="nav-link" href="index.html">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="projets.html">Projets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="activites.html">Activités</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="cv.html">CV</a>
      </li>
    </ul>

  </div>
</nav>

</header>

